<!DOCTYPE HTML>
<html>
	<head>
		<meta= http-equiv= "content-type" content= "text/html; charset = utf-8">
			<title>Beer Search</title>
				<script type = "text/javascript" src= "jquery.main.js"></script>
				<script type = "text/javascript" src= "app.js"></script>
				<link 	type = "text/css" rel= "stylesheet" href="styles.css">
			</head>
			<body>
				<header> 
					<h1>Beer Lookup</h1>
					<img src=" https://s-media-cache-ak0.pinimg.com/564x/8f/c0/05/8fc005b4eea7fed7d5ada4de40ab8f50.jpg">
					
					</header>
					
					<div id="content">
						<form id= "beer-search" method = "get" accept-charset="utf-8">
							<input type ="text" class="search" name="q" value="<%= Rack::Utils.escape_html @query %>"
							 placeholder= "Put out a BEER-PB">
							
						</form>
							 <div id="results">
        <% if @beers && @beers.empty? %>
          <p>Your search returned no results. D'oh </p>
          <img src = "http://i3.kym-cdn.com/entries/icons/original/000/016/725/5BYR.jpg">
        <% end %>
        <ul>
        <% @beers.each do |beer| %>
          <li class="beer">
            <% if beer.image_url %>
              <img src='<%= beer.image_url %>'>
            <% else %>
              <span class="noimg"></span>
            <% end %>
            <span class="name"><%= beer.name %></span>
            <span class="description"><%= beer.description %></span>
          </li>
        <% end if @beers %>
        </ul>
      </div>
    </div>
    <footer>Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>.</footer>
  </body>
</html>
					